<!DOCTYPE html>
<title> Cloud Copy </title>
<link href="/static/style.css" rel="stylesheet" type="text/css">
<link rel="icon" type="image/png" href="/static/images/logo.png">
<link rel="shortcut icon" href="/static/images/favicon.ico"> 

<body>
    <!-- <header> -->
    <div class="row">

        <ul class="main-nav">
            <li class="/active"><a href="">About</a> </li>
            <li><a href="/about">Download</a> </li>

        </ul>
    </div>
    <div class="hero">
        
        <h1>
            <img id="logo" src="/static/images/logo.png">
            Cloud Copy
        </h1>
        <button id="demo-btn" class="btn btn-one" onclick="openModal()">
            Watch Demo
        </button>
        <div id="modal" class="modal">
            <iframe class="modal-content" src="https://www.youtube.com/embed/rqtr_RvR3sY"></iframe>
        </div>
    </div>

    <h2>About</h2>
    <h3>Downloads</h3>



    <!-- </header> -->

<script>
    var modal = document.getElementById("modal");
    var span = document.getElementsByClassName("close")[0];

    function openModal() {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
</body>

</html>